/*main */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --clr-white: #fff;
  --clr-red: #ff3300;
  --clt-text-gray: #919193;
  --clr-black: #121731;
}

body {
  font-family: "Sora", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
}

.btn {
  font-size: 20px;
  font-weight: 700;
  padding: 1.3rem 3.5rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: var(--clr-white);
  color: var(--clr-red);
}

.section {
  max-width: 65%;
  margin: 0 auto;
}

/* .section .section__title {
  color: var(--clr-white);
  font-weight: 600;
  text-align: center;
  margin-bottom: 96px;
}
.section .section__sub-title {
  color: var(--clr-neutral-500);
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
} */

h1 {
  font-size: 56px;
  line-height: 64px;
}
h2 {
  font-size: 48px;
  line-height: 64px;
}
h3 {
  font-size: 36px;
  line-height: 40px;
}
h4 {
  font-size: 24px;
  line-height: 32px;
}
h5 {
  font-size: 18px;
  line-height: 28px;
}

/*header*/

.header {
    background-color: var(--clr-white);
    padding: 2rem 0;
  }
  
  .header .navigation {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .navigation .nav__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: var(--clr-black);
  }
  
  .header .navigation .nav__items .nav__item .nav__link {
    text-decoration: none;
    color: var(--clr-black);
    font-size: 20px;
    font-weight: 600;
  }

  /*care*/

  #care {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #care .care__text {
    width: 45%;
  }
  
  #care .care__text .care__title {
    font-size: 56px;
    font-weight: 300;
  }
  
  #care .care__text .care__subtitle {
    font-size: 56px;
    margin-bottom: 3rem;
  }
  
  #care .care__text .care__desc {
    color: var(--clr-text-gray);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 3rem;
  }
  
  #care .care__text .care__btn {
    background-color: var(--clr-red);
    color: var(--clr-white);
  }

  /*hero*/

  #hero {
    background-image: url("../../images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 750px;
    position: relative;
  }
  
  #hero .hero__wrapper {
    width: 65%;
    margin: 0 auto;
  }
  
  #hero .hero__wrapper .hero__text {
    width: 35%;
    color: var(--clr-white);
  }
  
  #hero .hero__wrapper .hero__text .hero__title {
    font-size: 85px;
    font-weight: 200;
    margin-bottom: 2rem;
  }
  
  #hero .hero__wrapper .hero__text .hero__subtitle {
    font-size: 85px;
    margin-bottom: 2rem;
  }
  
  #hero .hero__wrapper .hero__text .hero__desc {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 3rem;
  }
  
  #hero .hero__wrapper .hero__img {
    position: absolute;
    bottom: -100px;
    right: 300px;
  }

  /*services*/

  #services {
    text-align: center;
    padding: 16rem 0;
  }
  
  #services .service__title {
    font-size: 58px;
    margin-bottom: 0.8rem;
  }
  
  #services .service__subtitle {
    color: var(--clt-text-gray);
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 8rem;
  }
  
  #services .services__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  #services .services__list .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--clr-red);
    padding: 4rem 2rem;
    border-radius: 12px;
  }
  
  #services .services__list .service .img__wrapper {
    position: relative;
    background-image: url("../../images/service-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    margin-bottom: 2rem;
  }
  
  #services .services__list .service .img__wrapper .service__img {
    position: absolute;
    scale: 1.1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #services .services__list .service .service__name {
    font-size: 30px;
    margin-bottom: 2rem;
    color: var(--clr-black);
  }
  
  #services .services__list .service .service__desc {
    color: var(--clt-text-gray);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
  }

  /*why*/

  #why {
    background-image: url("../../images/cats-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    text-align: center;
    color: var(--clr-white);
    padding: 10rem 0;
  }
  
  #why .why__title {
    font-size: 54px;
    margin-bottom: 3rem;
  }
  
  #why .why__desc {
    font-size: 28px;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  
  #why .button__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  #why .button__wrapper .phone {
    font-size: 22px;
  }
  
  #why .button__wrapper .phone .bold {
    font-weight: 600;
    letter-spacing: 1px;
  }

  /*footer*/


  .footer {
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding-top: 8rem;
    padding-bottom: 3rem;
  }
  
  .footer .title {
    font-size: 28px;
    margin-bottom: 2rem;
  }
  
  .footer .link__items .link__item {
    margin-bottom: 1rem;
  }
  
  .footer .link__items .link__item .link {
    text-decoration: none;
    color: var(--clt-text-gray);
    font-size: 19px;
    font-weight: 600;
  }
  
  .footer .address .logo {
    margin-bottom: 2rem;
  }
  
  .footer .address .address__info {
    font-size: 20px;
    color: var(--clt-text-gray);
    font-weight: 600;
  }