@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px -1px #000000;    
    width: 80%;
    margin: 0 auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;  
    background: white;  
}

.logo-wrapper {
    max-width: 180px;
    padding: 0 20px;
}

.logo-wrapper img {
    width: 70%;
}

nav ul {
    display: flex;
    margin: 0;
}

nav ul li {
    list-style: none;
    margin: 0 12px ;
    padding: 25px 0;
    border-top: 5px solid rgba(0 0 0 / 0%);
}

.certificates {
    border-top: 5px solid #42abf8;
}

nav ul li a {
    text-decoration: none;
    color: #4f5c6b
}

.profile {
    background: #42abf8;
    border-radius: 50%;
    padding: 8px 12px;
    max-height: 24px;
    position: relative;
    top: 16px;
    left: -10px;
    box-shadow: 0 0 5px -1px #68addc;
}

.profile a {
    color: white;
}

.certificate-info {
    background:linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7)),  url(./images/hero-certificates.jpg);
    display: flex;    
    position: relative;
    top: -78px;
    z-index: -1;
    padding: 14% 12% 6% 12%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;    
}

.certificate-info-content div {
    background: #29394B;
    color: white;
    border-radius: 12px;
    padding: 20px;
    margin-right: 50px;    
}

.certificate-info-content > p {
    font-style: italic;
    color: rgb(93, 88, 88);
    position: absolute;
}

.certificate-info-content h3  {
    margin-top: 0;
}

.certificate-info-images {
    display: flex;
    align-items: flex-end;
}

.diploma {
    width: 80%;
    margin: 40px auto;
}

.diploma h3 {
    text-align: center;
    font-size: 28px;
}

.diploma-content {
    background: #f4f5f7;
    padding: 20px;
    border-radius: 6px; 
}

diploma-content p {
    padding: 0;
    margin: 0;
}

.apply {
    background:linear-gradient(rgba(73, 73, 90, 0.4), rgba(73, 73, 90, 0.3)),  url(./images/sign-up-prompt-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;    
    width: 80%;
    margin: 20px auto;
    border-radius: 12px;
    padding: 34px;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

.button {    
    border: none;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 18px;
    text-transform: uppercase;
}

.button:hover {
    cursor: pointer;
}

.btn-apply {
    background: white;
    color:#42abf8;
    border: 1px solid white;
    margin-right: 30px;
}

.separator {
    display: inline-block;
    height: 38px;
    width: 1px;
    position: relative;
    left: -14px;
    top: 12px;
    background: rgb(255, 255, 255);
}


.curriculum {
    background: transparent;
    color: white;
    border: 1px solid white;
}