@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

body {
  font-family: "Courgette", cursive;
  background-color: #f5f5f5;
}

.section {
  width: 80%;
  margin: 100px auto;
}

.section .title {
  font-size: 64px;
  font-weight: 100;
  text-align: center;
  margin: 0;
  padding: 0;
}

.section .sub__title {
  color: red;
  text-align: center;
  margin: 0;
  padding-left: 250px;
  font-size: 32px;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
 
}

.cards .card {
  width: 380px;
  border-radius: 16px;
  background-color: white;
  overflow: hidden;
  height: 466px;
}

.cards .card .card__img {
  width: 380px;
}

.cards .card .card__info {
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
}

.cards .card .card__info .card__title {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.card .card__info .divider {
    border-bottom: 1px solid red;
    margin-bottom: 1rem;
}
.cards .card .card__info .card__text {
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
    
}

.card .card__info .more__link {
    text-decoration: none;
    color: black;
    align-items: center;
    margin-bottom: 1rem;
}

.card .card__info .link__one {
    position: absolute;
    left: 120px;
    top: 160px;   
    
}

.card .card__info .more__link i {
    color: red;
}