section {
    margin-left: 20px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

h1 {
    font-size: 28px;
}

p#one {
    font-style: italic;
}

p#two {
    font-size: 24px;
}