body {
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    gap: 20px;
    
}

.container img {
    display: inline-flex;
    gap: 20px;
    border-radius: 10px;
}

.container img:nth-child(1),
.container img:nth-child(3),
.container img:nth-child(4) {
    

}